# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
env/
venv/
venv311/
.Python

# Environment variables
.env

# IDE/editor configs
.vscode/
.idea/
*.swp